@use "@/styles/colors";

.content {
  display: flex;
  position: fixed;
  flex-direction: column;
  inset: 0;
  background: colors.$paper-accent;

  .close {
    display: flex;
    position: absolute;
    gap: .125rem;
    inset: 0 auto auto 0;
    padding: 1rem;
    color: colors.$info-accent;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;

    .title {
      margin: -.125em 0;
      color: colors.$ink-accent;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.25em;
    }

    .description {
      margin: -.125em 0;
      color: colors.$ink-secondary;
      line-height: 1.25em;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .footer {
    display: flex;
    gap: 1rem;
    border-block-start: 0.0625rem solid colors.$ink-stroke;
    padding: 1rem 1rem 2rem 1rem;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: colors.$paper-primary;
  pointer-events: none;
}