@use "@/styles/colors";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4.5rem 1rem 2rem 1rem;
  block-size: 100%;
  text-align: center;

  .image {
    border-radius: 1.5rem;
    background: colors.$ink-overlay-1;
    inline-size: 10rem;
    block-size: 10rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    block-size: 100%;

    .title {
      color: colors.$ink-accent;
      font-weight: 700;
      font-size: 1.5rem;
    }

    .description {
      color: colors.$ink-secondary;
    }
  }
}