$family-text: var(--default-font-family);

$family-code: "Menlo", "Consolas (Custom)", "Bitstream Vera Sans Mono",
  monospace, "Apple Color Emoji", "Segoe UI Emoji";

$family-emphasis: "Times New Roman", "Times", serif;

$family-quote: "Times New Roman", "Times", serif;
